openapi: 3.2.0
info:
  title: Onesignal Notifications API
  version: '1.0'
  description: 'Operations tagged Notifications across 2 of this provider''s published API definitions: onesignal-api-openapi.json, onesignal-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.onesignal.com
tags:
- name: Notifications
paths:
  /notifications/{message_id}/history:
    x-mcp:
      enabled: true
    post:
      summary: Message history
      description: View which subscriptions received a particular message
      operationId: message-history
      x-codeSamples:
      - lang: typescript
        label: Node.js SDK
        source: "import Onesignal from '@onesignal/node-onesignal';\n\nconst configuration = Onesignal.createConfiguration({\n    restApiKey: 'YOUR_REST_API_KEY',\n});\nconst apiInstance = new Onesignal.DefaultApi(configuration);\n\n// string | The \\\"id\\\" of the message found in the Notification object\nconst notificationId: string = \"b3a0c8bd-3a4c-4b22-9a73-3f1a8c2d1b88\";\n// GetNotificationHistoryRequestBody\nconst getNotificationHistoryRequestBody: Onesignal.GetNotificationHistoryRequestBody = {\n    events: \"sent\",\n    email: \"email_example\",\n    app_id: \"app_id_example\",\n  };\n\ntry {\n  const response = await apiInstance.getNotificationHistory(notificationId, getNotificationHistoryRequestBody);\n  console.log(response);\n} catch (e) {\n  if (e instanceof Onesignal.ApiException) {\n    // `e.errorMessages` flattens any error-envelope shape to a `string[]`;\n    // the raw parsed body remains on `e.body`.\n    console.error(\"getNotificationHistory failed: HTTP \" + e.code, e.errorMessages);\n  } else {\n    throw e;\n  }\n}"
      - lang: python
        label: Python SDK
        source: "import onesignal\nfrom onesignal.api import default_api\nfrom onesignal.models import *\nfrom pprint import pprint\n\n# See configuration.py for a list of all supported configuration parameters.\n# Some of the OneSignal endpoints require ORGANIZATION_API_KEY token for authorization, while others require REST_API_KEY.\n# We recommend adding both of them in the configuration page so that you will not need to figure it out yourself.\nconfiguration = onesignal.Configuration(\n    rest_api_key = \"YOUR_REST_API_KEY\", # App REST API key required for most endpoints\n    organization_api_key = \"YOUR_ORGANIZATION_API_KEY\" # Organization key is only required for creating new apps and other top-level endpoints\n)\n\n\n# Enter a context with an instance of the API client\nwith onesignal.ApiClient(configuration) as api_client:\n    # Create an instance of the API class\n    api_instance = default_api.DefaultApi(api_client)\n    notification_id = \"b3a0c8bd-3a4c-4b22-9a73-3f1a8c2d1b88\" # The \\\"id\\\" of the message found in the Notification object \n    get_notification_history_request_body = GetNotificationHistoryRequestBody(\n        events=\"sent\",\n        email=\"email_example\",\n        app_id=\"app_id_example\",\n    ) \n\n    try:\n        # Notification History\n        api_response = api_instance.get_notification_history(notification_id, get_notification_history_request_body)\n        pprint(api_response)\n    except onesignal.ApiException as e:\n        print(\"Exception when calling DefaultApi->get_notification_history: %s\\n\" % e)\n        print(\"Status Code: %s\" % e.status)\n        print(\"Response Body: %s\" % e.body)"
      - lang: php
        label: PHP SDK
        source: "<?php\nrequire_once(__DIR__ . '/vendor/autoload.php');\n\n\n// Configure Bearer authorization: rest_api_key\n$config = onesignal\\client\\Configuration::getDefaultConfiguration()\n                                                ->setRestApiKeyToken('YOUR_REST_API_KEY')\n                                                ->setOrganizationApiKeyToken('YOUR_ORGANIZATION_API_KEY');\n\n\n\n$apiInstance = new onesignal\\client\\Api\\DefaultApi(\n    // If you want use custom http client, pass your client which implements `GuzzleHttp\\ClientInterface`.\n    // This is optional, `GuzzleHttp\\Client` will be used as default.\n    new GuzzleHttp\\Client(),\n    $config\n);\n$notification_id = 'b3a0c8bd-3a4c-4b22-9a73-3f1a8c2d1b88'; // string | The \\\"id\\\" of the message found in the Notification object\n$get_notification_history_request_body = new \\onesignal\\client\\model\\GetNotificationHistoryRequestBody(); // \\onesignal\\client\\model\\GetNotificationHistoryRequestBody\n\ntry {\n    $result = $apiInstance->getNotificationHistory($notification_id, $get_notification_history_request_body);\n    print_r($result);\n} catch (\\onesignal\\client\\ApiException $e) {\n    echo 'Exception when calling DefaultApi->getNotificationHistory: ', $e->getMessage(), PHP_EOL;\n    echo 'Status Code: ', $e->getCode(), PHP_EOL;\n    // getErrorMessages() flattens any error-envelope shape to a string[];\n    // the raw body remains on getResponseBody().\n    echo 'Error Messages: ', implode(', ', $e->getErrorMessages()), PHP_EOL;\n    echo 'Response Body: ', $e->getResponseBody(), PHP_EOL;\n} catch (\\Exception $e) {\n    echo 'Exception when calling DefaultApi->getNotificationHistory: ', $e->getMessage(), PHP_EOL;\n}"
      - lang: go
        label: Go SDK
        source: "package main\n\nimport (\n    \"context\"\n    \"fmt\"\n    \"os\"\n\n    \"github.com/OneSignal/onesignal-go-api/v5\"\n)\n\nfunc main() {\n    notificationId := \"b3a0c8bd-3a4c-4b22-9a73-3f1a8c2d1b88\" // string | The \\\"id\\\" of the message found in the Notification object\n    getNotificationHistoryRequestBody := *onesignal.NewGetNotificationHistoryRequestBody() // GetNotificationHistoryRequestBody | \n\n    configuration := onesignal.NewConfiguration()\n    apiClient := onesignal.NewAPIClient(configuration)\n\n    restAuth := context.WithValue(context.Background(), onesignal.RestApiKey, \"YOUR_REST_API_KEY\") // App REST API key required for most endpoints\n\n    resp, r, err := apiClient.DefaultApi.GetNotificationHistory(restAuth, notificationId).GetNotificationHistoryRequestBody(getNotificationHistoryRequestBody).Execute()\n\n    if err != nil {\n        fmt.Fprintf(os.Stderr, \"Error when calling `DefaultApi.GetNotificationHistory``: %v\\n\", err)\n        fmt.Fprintf(os.Stderr, \"Full HTTP response: %v\\n\", r)\n        if apiErr, ok := err.(*onesignal.GenericOpenAPIError); ok {\n            // ErrorMessages() flattens any error-envelope shape to a []string;\n            // the raw body remains on Body().\n            fmt.Fprintf(os.Stderr, \"Error Messages: %v\\n\", apiErr.ErrorMessages())\n            fmt.Fprintf(os.Stderr, \"Response Body: %s\\n\", apiErr.Body())\n        }\n    }\n    // response from `GetNotificationHistory`: NotificationHistorySuccessResponse\n    fmt.Fprintf(os.Stdout, \"Response from `DefaultApi.GetNotificationHistory`: %v\\n\", resp)\n}"
      - lang: ruby
        label: Ruby SDK
        source: "require 'onesignal'\n# setup authorization\nOneSignal.configure do |config|\n  # Configure Bearer authorization: rest_api_key\n  config.rest_api_key = 'YOUR_REST_API_KEY'\n\nend\n\napi_instance = OneSignal::DefaultApi.new\nnotification_id = 'b3a0c8bd-3a4c-4b22-9a73-3f1a8c2d1b88' # String | The \\\"id\\\" of the message found in the Notification object\nget_notification_history_request_body = OneSignal::GetNotificationHistoryRequestBody.new # GetNotificationHistoryRequestBody | \n\nbegin\n  # Notification History\n  result = api_instance.get_notification_history(notification_id, get_notification_history_request_body)\n  p result\nrescue OneSignal::ApiError => e\n  puts \"Error when calling DefaultApi->get_notification_history: #{e}\"\n  puts \"Status Code: #{e.code}\"\n  # `e.error_messages` flattens any error-envelope shape to an Array<String>;\n  # the raw body remains on `e.response_body`.\n  puts \"Error Messages: #{e.error_messages}\"\n  puts \"Response Body: #{e.response_body}\"\nend"
      - lang: java
        label: Java SDK
        source: "// Import classes:\nimport com.onesignal.client.ApiClient;\nimport com.onesignal.client.ApiException;\nimport com.onesignal.client.Configuration;\nimport com.onesignal.client.auth.*;\nimport com.onesignal.client.model.*;\nimport com.onesignal.client.api.DefaultApi;\n\npublic class Example {\n  public static void main(String[] args) {\n    ApiClient defaultClient = Configuration.getDefaultApiClient();\n    defaultClient.setBasePath(\"https://api.onesignal.com\");\n    \n    // Configure HTTP bearer authorization: rest_api_key\n    HttpBearerAuth rest_api_key = (HttpBearerAuth) defaultClient.getAuthentication(\"rest_api_key\");\n    rest_api_key.setBearerToken(\"YOUR_REST_API_KEY\");\n\n    DefaultApi apiInstance = new DefaultApi(defaultClient);\n    String notificationId = \"b3a0c8bd-3a4c-4b22-9a73-3f1a8c2d1b88\"; // String | The \\\"id\\\" of the message found in the Notification object\n    GetNotificationHistoryRequestBody getNotificationHistoryRequestBody = new GetNotificationHistoryRequestBody(); // GetNotificationHistoryRequestBody | \n    try {\n      NotificationHistorySuccessResponse result = apiInstance.getNotificationHistory(notificationId, getNotificationHistoryRequestBody);\n      System.out.println(result);\n    } catch (ApiException e) {\n      System.err.println(\"Exception when calling DefaultApi#getNotificationHistory\");\n      System.err.println(\"Status code: \" + e.getCode());\n      // getErrorMessages() flattens any error-envelope shape to a List<String>;\n      // the raw body remains on getResponseBody().\n      System.err.println(\"Error messages: \" + e.getErrorMessages());\n      System.err.println(\"Reason: \" + e.getResponseBody());\n      System.err.println(\"Response headers: \" + e.getResponseHeaders());\n      e.printStackTrace();\n    }\n  }\n}"
      - lang: csharp
        label: C# SDK
        source: "using System;\nusing System.Collections.Generic;\nusing System.Diagnostics;\nusing OneSignalApi.Api;\nusing OneSignalApi.Client;\nusing OneSignalApi.Model;\n\nnamespace Example\n{\n    public class GetNotificationHistoryExample\n    {\n        public static void Main()\n        {\n            Configuration config = new Configuration();\n            config.BasePath = \"https://api.onesignal.com\";\n            // Configure Bearer token for authorization: rest_api_key\n            config.AccessToken = \"YOUR_REST_API_KEY\";\n\n            var apiInstance = new DefaultApi(config);\n            var notificationId = \"b3a0c8bd-3a4c-4b22-9a73-3f1a8c2d1b88\";  // string | The \\\"id\\\" of the message found in the Notification object\n            var getNotificationHistoryRequestBody = new GetNotificationHistoryRequestBody(); // GetNotificationHistoryRequestBody | \n\n            try\n            {\n                // Notification History\n                NotificationHistorySuccessResponse result = apiInstance.GetNotificationHistory(notificationId, getNotificationHistoryRequestBody);\n                Debug.WriteLine(result);\n            }\n            catch (ApiException  e)\n            {\n                Debug.Print(\"Exception when calling DefaultApi.GetNotificationHistory: \" + e.Message );\n                Debug.Print(\"Status Code: \"+ e.ErrorCode);\n                // e.ErrorMessages flattens any error-envelope shape to an IReadOnlyList<string>;\n                // the raw body remains on e.ErrorContent.\n                Debug.Print(\"Error Messages: \" + string.Join(\", \", e.ErrorMessages));\n                Debug.Print(\"Response Body: \" + e.ErrorContent);\n                Debug.Print(e.StackTrace);\n            }\n        }\n    }\n}"
      - lang: rust
        label: Rust SDK
        source: "use onesignal_rust_api::apis::configuration::Configuration;\nuse onesignal_rust_api::apis::default_api;\n\nuse onesignal_rust_api::models;\n\n\n#[tokio::main]\nasync fn main() {\n    let mut configuration = Configuration::new();\n    configuration.rest_api_key_token = Some(\"YOUR_REST_API_KEY\".to_string());\n\n\n    // Realistic values are pulled from the spec's `example:` fields where present.\n    let notification_id: &str = \"b3a0c8bd-3a4c-4b22-9a73-3f1a8c2d1b88\";\n    let get_notification_history_request_body: models::GetNotificationHistoryRequestBody = todo!();\n\n    match default_api::get_notification_history(&configuration, notification_id, get_notification_history_request_body).await {\n        Ok(resp) => println!(\"{:?}\", resp),\n        Err(e @ onesignal_rust_api::apis::Error::ResponseError(_)) => {\n            // `e.error_messages()` flattens any error-envelope shape to a Vec<String>;\n            // the raw response remains on the ResponseError variant.\n            eprintln!(\"get_notification_history failed: {:?}\", e.error_messages());\n        }\n        Err(e) => eprintln!(\"get_notification_history failed: {:?}\", e),\n    }\n}"
      parameters:
      - name: message_id
        in: path
        description: The identifier of the message in UUID v4 format. Get this `id` in the response of your Create Message API request, the [View Messages API](/reference/view-messages), and in your OneSignal dashboard Message Reports.
        schema:
          type: string
        required: true
      - name: Authorization
        in: header
        description: Your App API key with prefix `Key `. See [Keys & IDs](/docs/en/keys-and-ids).
        required: true
        schema:
          type: string
          default: Key YOUR_APP_API_KEY
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - app_id
              - events
              properties:
                app_id:
                  type: string
                  description: Your OneSignal App ID in UUID v4 format. See [Keys & IDs](/docs/en/keys-and-ids).
                  default: YOUR_APP_ID
                events:
                  type: string
                  description: 'Specifies the type of event to retrieve. `sent` — retrieves all subscriptions sent the specified message. Note: sent events are not recorded for messages targeting fewer than 1,000 recipients. `clicked` — retrieves all subscriptions that interacted with the message. Note: There isn''t a recipient count threshold for tracking clicked event.'
                  default: sent
                email:
                  type: string
                  description: The email address in which to deliver the report.
      responses:
        '202':
          description: Accepted. The history-export job was enqueued. The export is delivered asynchronously to the configured S3 destination.
          content:
            application/json:
              examples:
                Result:
                  value:
                    success: true
                    destination_url: https://onesignal-aws-link.csv
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    default: true
                  destination_url:
                    type: string
                    example: https://onesignal-aws-link.csv
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value:
                    errors:
                    - param `email` must be a valid email
                    success: false
              schema:
                $ref: '#/components/schemas/BasicErrorResponse'
        '429':
          description: Rate limit exceeded. Wait the number of seconds in the `Retry-After` header before retrying.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request. Always emitted on 429 responses.
              schema:
                type: integer
                minimum: 0
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicErrorResponse'
              example:
                errors:
                - API rate limit exceeded
        '503':
          description: Service temporarily unavailable. Retry after a short backoff. The body may be empty or non-JSON in some failure modes.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying. Optional — may be absent when the response is generated upstream.
              schema:
                type: integer
                minimum: 0
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicErrorResponse'
              example:
                errors:
                - Service temporarily unavailable
      deprecated: false
      tags:
      - Notifications
      security:
      - {}
    servers:
    - url: https://api.onesignal.com
  /notifications/{message_id}/export_events:
    post:
      summary: Export audience activity CSV
      description: Export a compressed CSV report of audience-level delivery and engagement data for a specific message. This includes sent, delivered, clicked, failed, and unsubscribed events across Push, Email, and SMS channels.
      operationId: export-csv-of-events
      x-codeSamples:
      - lang: typescript
        label: Node.js SDK
        source: "import Onesignal from '@onesignal/node-onesignal';\n\nconst configuration = Onesignal.createConfiguration({\n    restApiKey: 'YOUR_REST_API_KEY',\n});\nconst apiInstance = new Onesignal.DefaultApi(configuration);\n\n// string | The ID of the notification to export events from.\nconst notificationId: string = \"b3a0c8bd-3a4c-4b22-9a73-3f1a8c2d1b88\";\n// string | The ID of the app that the notification belongs to.\nconst appId: string = \"YOUR_APP_ID\";\n\ntry {\n  const response = await apiInstance.exportEvents(notificationId, appId);\n  console.log(response);\n} catch (e) {\n  if (e instanceof Onesignal.ApiException) {\n    // `e.errorMessages` flattens any error-envelope shape to a `string[]`;\n    // the raw parsed body remains on `e.body`.\n    console.error(\"exportEvents failed: HTTP \" + e.code, e.errorMessages);\n  } else {\n    throw e;\n  }\n}"
      - lang: python
        label: Python SDK
        source: "import onesignal\nfrom onesignal.api import default_api\nfrom onesignal.models import *\nfrom pprint import pprint\n\n# See configuration.py for a list of all supported configuration parameters.\n# Some of the OneSignal endpoints require ORGANIZATION_API_KEY token for authorization, while others require REST_API_KEY.\n# We recommend adding both of them in the configuration page so that you will not need to figure it out yourself.\nconfiguration = onesignal.Configuration(\n    rest_api_key = \"YOUR_REST_API_KEY\", # App REST API key required for most endpoints\n    organization_api_key = \"YOUR_ORGANIZATION_API_KEY\" # Organization key is only required for creating new apps and other top-level endpoints\n)\n\n\n# Enter a context with an instance of the API client\nwith onesignal.ApiClient(configuration) as api_client:\n    # Create an instance of the API class\n    api_instance = default_api.DefaultApi(api_client)\n    notification_id = \"b3a0c8bd-3a4c-4b22-9a73-3f1a8c2d1b88\" # The ID of the notification to export events from. \n    app_id = \"YOUR_APP_ID\" # The ID of the app that the notification belongs to. \n\n    try:\n        # Export CSV of Events\n        api_response = api_instance.export_events(notification_id, app_id)\n        pprint(api_response)\n    except onesignal.ApiException as e:\n        print(\"Exception when calling DefaultApi->export_events: %s\\n\" % e)\n        print(\"Status Code: %s\" % e.status)\n        print(\"Response Body: %s\" % e.body)"
      - lang: php
        label: PHP SDK
        source: "<?php\nrequire_once(__DIR__ . '/vendor/autoload.php');\n\n\n// Configure Bearer authorization: rest_api_key\n$config = onesignal\\client\\Configuration::getDefaultConfiguration()\n                                                ->setRestApiKeyToken('YOUR_REST_API_KEY')\n                                                ->setOrganizationApiKeyToken('YOUR_ORGANIZATION_API_KEY');\n\n\n\n$apiInstance = new onesignal\\client\\Api\\DefaultApi(\n    // If you want use custom http client, pass your client which implements `GuzzleHttp\\ClientInterface`.\n    // This is optional, `GuzzleHttp\\Client` will be used as default.\n    new GuzzleHttp\\Client(),\n    $config\n);\n$notification_id = 'b3a0c8bd-3a4c-4b22-9a73-3f1a8c2d1b88'; // string | The ID of the notification to export events from.\n$app_id = 'YOUR_APP_ID'; // string | The ID of the app that the notification belongs to.\n\ntry {\n    $result = $apiInstance->exportEvents($notification_id, $app_id);\n    print_r($result);\n} catch (\\onesignal\\client\\ApiException $e) {\n    echo 'Exception when calling DefaultApi->exportEvents: ', $e->getMessage(), PHP_EOL;\n    echo 'Status Code: ', $e->getCode(), PHP_EOL;\n    // getErrorMessages() flattens any error-envelope shape to a string[];\n    // the raw body remains on getResponseBody().\n    echo 'Error Messages: ', implode(', ', $e->getErrorMessages()), PHP_EOL;\n    echo 'Response Body: ', $e->getResponseBody(), PHP_EOL;\n} catch (\\Exception $e) {\n    echo 'Exception when calling DefaultApi->exportEvents: ', $e->getMessage(), PHP_EOL;\n}"
      - lang: go
        label: Go SDK
        source: "package main\n\nimport (\n    \"context\"\n    \"fmt\"\n    \"os\"\n\n    \"github.com/OneSignal/onesignal-go-api/v5\"\n)\n\nfunc main() {\n    notificationId := \"b3a0c8bd-3a4c-4b22-9a73-3f1a8c2d1b88\" // string | The ID of the notification to export events from.\n    appId := \"YOUR_APP_ID\" // string | The ID of the app that the notification belongs to.\n\n    configuration := onesignal.NewConfiguration()\n    apiClient := onesignal.NewAPIClient(configuration)\n\n    restAuth := context.WithValue(context.Background(), onesignal.RestApiKey, \"YOUR_REST_API_KEY\") // App REST API key required for most endpoints\n\n    resp, r, err := apiClient.DefaultApi.ExportEvents(restAuth, notificationId).AppId(appId).Execute()\n\n    if err != nil {\n        fmt.Fprintf(os.Stderr, \"Error when calling `DefaultApi.ExportEvents``: %v\\n\", err)\n        fmt.Fprintf(os.Stderr, \"Full HTTP response: %v\\n\", r)\n        if apiErr, ok := err.(*onesignal.GenericOpenAPIError); ok {\n            // ErrorMessages() flattens any error-envelope shape to a []string;\n            // the raw body remains on Body().\n            fmt.Fprintf(os.Stderr, \"Error Messages: %v\\n\", apiErr.ErrorMessages())\n            fmt.Fprintf(os.Stderr, \"Response Body: %s\\n\", apiErr.Body())\n        }\n    }\n    // response from `ExportEvents`: ExportEventsSuccessResponse\n    fmt.Fprintf(os.Stdout, \"Response from `DefaultApi.ExportEvents`: %v\\n\", resp)\n}"
      - lang: ruby
        label: Ruby SDK
        source: "require 'onesignal'\n# setup authorization\nOneSignal.configure do |config|\n  # Configure Bearer authorization: rest_api_key\n  config.rest_api_key = 'YOUR_REST_API_KEY'\n\nend\n\napi_instance = OneSignal::DefaultApi.new\nnotification_id = 'b3a0c8bd-3a4c-4b22-9a73-3f1a8c2d1b88' # String | The ID of the notification to export events from.\napp_id = 'YOUR_APP_ID' # String | The ID of the app that the notification belongs to.\n\nbegin\n  # Export CSV of Events\n  result = api_instance.export_events(notification_id, app_id)\n  p result\nrescue OneSignal::ApiError => e\n  puts \"Error when calling DefaultApi->export_events: #{e}\"\n  puts \"Status Code: #{e.code}\"\n  # `e.error_messages` flattens any error-envelope shape to an Array<String>;\n  # the raw body remains on `e.response_body`.\n  puts \"Error Messages: #{e.error_messages}\"\n  puts \"Response Body: #{e.response_body}\"\nend"
      - lang: java
        label: Java SDK
        source: "// Import classes:\nimport com.onesignal.client.ApiClient;\nimport com.onesignal.client.ApiException;\nimport com.onesignal.client.Configuration;\nimport com.onesignal.client.auth.*;\nimport com.onesignal.client.model.*;\nimport com.onesignal.client.api.DefaultApi;\n\npublic class Example {\n  public static void main(String[] args) {\n    ApiClient defaultClient = Configuration.getDefaultApiClient();\n    defaultClient.setBasePath(\"https://api.onesignal.com\");\n    \n    // Configure HTTP bearer authorization: rest_api_key\n    HttpBearerAuth rest_api_key = (HttpBearerAuth) defaultClient.getAuthentication(\"rest_api_key\");\n    rest_api_key.setBearerToken(\"YOUR_REST_API_KEY\");\n\n    DefaultApi apiInstance = new DefaultApi(defaultClient);\n    String notificationId = \"b3a0c8bd-3a4c-4b22-9a73-3f1a8c2d1b88\"; // String | The ID of the notification to export events from.\n    String appId = \"YOUR_APP_ID\"; // String | The ID of the app that the notification belongs to.\n    try {\n      ExportEventsSuccessResponse result = apiInstance.exportEvents(notificationId, appId);\n      System.out.println(result);\n    } catch (ApiException e) {\n      System.err.println(\"Exception when calling DefaultApi#exportEvents\");\n      System.err.println(\"Status code: \" + e.getCode());\n      // getErrorMessages() flattens any error-envelope shape to a List<String>;\n      // the raw body remains on getResponseBody().\n      System.err.println(\"Error messages: \" + e.getErrorMessages());\n      System.err.println(\"Reason: \" + e.getResponseBody());\n      System.err.println(\"Response headers: \" + e.getResponseHeaders());\n      e.printStackTrace();\n    }\n  }\n}"
      - lang: csharp
        label: C# SDK
        source: "using System;\nusing System.Collections.Generic;\nusing System.Diagnostics;\nusing OneSignalApi.Api;\nusing OneSignalApi.Client;\nusing OneSignalApi.Model;\n\nnamespace Example\n{\n    public class ExportEventsExample\n    {\n        public static void Main()\n        {\n            Configuration config = new Configuration();\n            config.BasePath = \"https://api.onesignal.com\";\n            // Configure Bearer token for authorization: rest_api_key\n            config.AccessToken = \"YOUR_REST_API_KEY\";\n\n            var apiInstance = new DefaultApi(config);\n            var notificationId = \"b3a0c8bd-3a4c-4b22-9a73-3f1a8c2d1b88\";  // string | The ID of the notification to export events from.\n            var appId = \"YOUR_APP_ID\";  // string | The ID of the app that the notification belongs to.\n\n            try\n            {\n                // Export CSV of Events\n                ExportEventsSuccessResponse result = apiInstance.ExportEvents(notificationId, appId);\n                Debug.WriteLine(result);\n            }\n            catch (ApiException  e)\n            {\n                Debug.Print(\"Exception when calling DefaultApi.ExportEvents: \" + e.Message );\n                Debug.Print(\"Status Code: \"+ e.ErrorCode);\n                // e.ErrorMessages flattens any error-envelope shape to an IReadOnlyList<string>;\n                // the raw body remains on e.ErrorContent.\n                Debug.Print(\"Error Messages: \" + string.Join(\", \", e.ErrorMessages));\n                Debug.Print(\"Response Body: \" + e.ErrorContent);\n                Debug.Print(e.StackTrace);\n            }\n        }\n    }\n}"
      - lang: rust
        label: Rust SDK
        source: "use onesignal_rust_api::apis::configuration::Configuration;\nuse onesignal_rust_api::apis::default_api;\n\n\n#[tokio::main]\nasync fn main() {\n    let mut configuration = Configuration::new();\n    configuration.rest_api_key_token = Some(\"YOUR_REST_API_KEY\".to_string());\n\n\n    // Realistic values are pulled from the spec's `example:` fields where present.\n    let notification_id: &str = \"b3a0c8bd-3a4c-4b22-9a73-3f1a8c2d1b88\";\n    let app_id: &str = \"YOUR_APP_ID\";\n\n    match default_api::export_events(&configuration, notification_id, app_id).await {\n        Ok(resp) => println!(\"{:?}\", resp),\n        Err(e @ onesignal_rust_api::apis::Error::ResponseError(_)) => {\n            // `e.error_messages()` flattens any error-envelope shape to a Vec<String>;\n            // the raw response remains on the ResponseError variant.\n            eprintln!(\"export_events failed: {:?}\", e.error_messages());\n        }\n        Err(e) => eprintln!(\"export_events failed: {:?}\", e),\n    }\n}"
      parameters:
      - name: message_id
        in: path
        description: The identifier of the message in UUID v4 format. Get this `id` in the response of your Create Message API request, the [View Messages API](/reference/view-messages), and in your OneSignal dashboard Message Reports.
        schema:
          type: string
          default: YOUR_NOTIFICATION_ID
        required: true
      - name: app_id
        in: query
        description: Your OneSignal App ID in UUID v4 format. See [Keys & IDs](/docs/en/keys-and-ids).
        required: true
        schema:
          type: string
          default: YOUR_APP_ID
      - name: Authorization
        in: header
        description: Your App API key with prefix `Key `. See [Keys & IDs](/docs/en/keys-and-ids).
        required: true
        schema:
          type: string
          default: Key YOUR_APP_API_KEY
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: object
                properties:
                  csv_file_url:
                    type: string
                    description: The URL to download the CSV file. The file is available for 3 days after generation.
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicErrorResponse'
              example:
                errors:
                - The reason for the error. Usually an invalid `message_id` format or missing required path parameter.
        '401':
          description: '401'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicErrorResponse'
              example:
                errors:
                - Missing or invalid REST API key for the app.
        '404':
          description: '404'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicErrorResponse'
              example:
                errors:
                - No message exists with the provided `message_id` in this app, or the message is older than 30 days and its audience activity has been purged.
        '429':
          description: Rate limit exceeded. Wait the number of seconds in the `Retry-After` header before retrying.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request. Always emitted on 429 responses.
              schema:
                type: integer
                minimum: 0
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicErrorResponse'
              example:
                errors:
                - API rate limit exceeded
        '503':
          description: Service temporarily unavailable. Retry after a short backoff. The body may be empty or non-JSON in some failure modes.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying. Optional — may be absent when the response is generated upstream.
              schema:
                type: integer
                minimum: 0
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicErrorResponse'
              example:
                errors:
                - Service temporarily unavailable
      deprecated: false
      tags:
      - Notifications
      security:
      - {}
    servers:
    - url: https://api.onesignal.com
  /notifications/{message_id}?app_id={app_id}:
    get:
      summary: View message
      description: View the details of a single message and the Outcomes associated with it.
      operationId: view-message
      x-codeSamples:
      - lang: typescript
        label: Node.js SDK
        source: "import Onesignal from '@onesignal/node-onesignal';\n\nconst configuration = Onesignal.createConfiguration({\n    restApiKey: 'YOUR_REST_API_KEY',\n});\nconst apiInstance = new Onesignal.DefaultApi(configuration);\n\n// string\nconst appId: string = \"YOUR_APP_ID\";\n// string\nconst notificationId: string = \"b3a0c8bd-3a4c-4b22-9a73-3f1a8c2d1b88\";\n\ntry {\n  const response = await apiInstance.getNotification(appId, notificationId);\n  console.log(response);\n} catch (e) {\n  if (e instanceof Onesignal.ApiException) {\n    // `e.errorMessages` flattens any error-envelope shape to a `string[]`;\n    // the raw parsed body remains on `e.body`.\n    console.error(\"getNotification failed: HTTP \" + e.code, e.errorMessages);\n  } else {\n    throw e;\n  }\n}"
      - lang: python
        label: Python SDK
        source: "import onesignal\nfrom onesignal.api import default_api\nfrom onesignal.models import *\nfrom pprint import pprint\n\n# See configuration.py for a list of all supported configuration parameters.\n# Some of the OneSignal endpoints require ORGANIZATION_API_KEY token for authorization, while others require REST_API_KEY.\n# We recommend adding both of them in the configuration page so that you will not need to figure it out yourself.\nconfiguration = onesignal.Configuration(\n    rest_api_key = \"YOUR_REST_API_KEY\", # App REST API key required for most endpoints\n    organization_api_key = \"YOUR_ORGANIZATION_API_KEY\" # Organization key is only required for creating new apps and other top-level endpoints\n)\n\n\n# Enter a context with an instance of the API client\nwith onesignal.ApiClient(configuration) as api_client:\n    # Create an instance of the API class\n    api_instance = default_api.DefaultApi(api_client)\n    app_id = \"YOUR_APP_ID\" \n    notification_id = \"b3a0c8bd-3a4c-4b22-9a73-3f1a8c2d1b88\" \n\n    try:\n        # View notification\n        api_response = api_instance.get_notification(app_id, notification_id)\n        pprint(api_response)\n    except onesignal.ApiException as e:\n        print(\"Exception when calling DefaultApi->get_notification: %s\\n\" % e)\n        print(\"Status Code: %s\" % e.status)\n        print(\"Response Body: %s\" % e.body)"
      - lang: php
        label: PHP SDK
        source: "<?php\nrequire_once(__DIR__ . '/vendor/autoload.php');\n\n\n// Configure Bearer authorization: rest_api_key\n$config = onesignal\\client\\Configuration::getDefaultConfiguration()\n                                                ->setRestApiKeyToken('YOUR_REST_API_KEY')\n                                                ->setOrganizationApiKeyToken('YOUR_ORGANIZATION_API_KEY');\n\n\n\n$apiInstance = new onesignal\\client\\Api\\DefaultApi(\n    // If you want use custom http client, pass your client which implements `GuzzleHttp\\ClientInterface`.\n    // This is optional, `GuzzleHttp\\Client` will be used as default.\n    new GuzzleHttp\\Client(),\n    $config\n);\n$app_id = 'YOUR_APP_ID'; // string\n$notification_id = 'b3a0c8bd-3a4c-4b22-9a73-3f1a8c2d1b88'; // string\n\ntry {\n    $result = $apiInstance->getNotification($app_id, $notification_id);\n    print_r($result);\n} catch (\\onesignal\\client\\ApiException $e) {\n    echo 'Exception when calling DefaultApi->getNotification: ', $e->getMessage(), PHP_EOL;\n    echo 'Status Code: ', $e->getCode(), PHP_EOL;\n    // getErrorMessages() flattens any error-envelope shape to a string[];\n    // the raw body remains on getResponseBody().\n    echo 'Error Messages: ', implode(', ', $e->getErrorMessages()), PHP_EOL;\n    echo 'Response Body: ', $e->getResponseBody(), PHP_EOL;\n} catch (\\Exception $e) {\n    echo 'Exception when calling DefaultApi->getNotification: ', $e->getMessage(), PHP_EOL;\n}"
      - lang: go
        label: Go SDK
        source: "package main\n\nimport (\n    \"context\"\n    \"fmt\"\n    \"os\"\n\n    \"github.com/OneSignal/onesignal-go-api/v5\"\n)\n\nfunc main() {\n    appId := \"YOUR_APP_ID\" // string | \n    notificationId := \"b3a0c8bd-3a4c-4b22-9a73-3f1a8c2d1b88\" // string | \n\n    configuration := onesignal.NewConfiguration()\n    apiClient := onesignal.NewAPIClient(configuration)\n\n    restAuth := context.WithValue(context.Background(), onesignal.RestApiKey, \"YOUR_REST_API_KEY\") // App REST API key required for most endpoints\n\n    resp, r, err := apiClient.DefaultApi.GetNotification(restAuth, notificationId).AppId(appId).Execute()\n\n    if err != nil {\n        fmt.Fprintf(os.Stderr, \"Error when calling `DefaultApi.GetNotification``: %v\\n\", err)\n        fmt.Fprintf(os.Stderr, \"Full HTTP response: %v\\n\", r)\n        if apiErr, ok := err.(*onesignal.GenericOpenAPIError); ok {\n            // ErrorMessages() flattens any error-envelope shape to a []string;\n            // the raw body remains on Body().\n            fmt.Fprintf(os.Stderr, \"Error Messages: %v\\n\", apiErr.ErrorMessages())\n            fmt.Fprintf(os.Stderr, \"Response Body: %s\\n\", apiErr.Body())\n        }\n    }\n    // response from `GetNotification`: NotificationWithMeta\n    fmt.Fprintf(os.Stdout, \"Response from `DefaultApi.GetNotification`: %v\\n\", resp)\n}"
      - lang: ruby
        label: Ruby SDK
        source: "require 'onesignal'\n# setup authorization\nOneSignal.configure do |config|\n  # Configure Bearer authorization: rest_api_key\n  config.rest_api_key = 'YOUR_REST_API_KEY'\n\nend\n\napi_instance = OneSignal::DefaultApi.new\napp_id = 'YOUR_APP_ID' # String | \nnotification_id = 'b3a0c8bd-3a4c-4b22-9a73-3f1a8c2d1b88' # String | \n\nbegin\n  # View notification\n  result = api_instance.get_notification(app_id, notification_id)\n  p result\nrescue OneSignal::ApiError => e\n  puts \"Error when calling DefaultApi->get_notification: #{e}\"\n  puts \"Status Code: #{e.code}\"\n  # `e.error_messages` flattens any error-envelope shape to an Array<String>;\n  # the raw body remains on `e.response_body`.\n  puts \"Error Messages: #{e.error_messages}\"\n  puts \"Response Body: #{e.response_body}\"\nend"
      - lang: java
        label: Java SDK
        source: "// Import classes:\nimport com.onesignal.client.ApiClient;\nimport com.onesignal.client.ApiException;\nimport com.onesignal.client.Configuration;\nimport com.onesignal.client.auth.*;\nimport com.onesignal.client.model.*;\nimport com.onesignal.client.api.DefaultApi;\n\npublic class Example {\n  public static void main(String[] args) {\n    ApiClient defaultClient = Configuration.getDefaultApiClient();\n    defaultClient.setBasePath(\"https://api.onesignal.com\");\n    \n    // Configure HTTP bearer authorization: rest_api_key\n    HttpBearerAuth rest_api_key = (HttpBearerAuth) defaultClient.getAuthentication(\"rest_api_key\");\n    rest_api_key.setBearerToken(\"YOUR_REST_API_KEY\");\n\n    DefaultApi apiInstance = new DefaultApi(defaultClient);\n    String appId = \"YOUR_APP_ID\"; // String | \n    String notificationId = \"b3a0c8bd-3a4c-4b22-9a73-3f1a8c2d1b88\"; // String | \n    try {\n      NotificationWithMeta result = apiInstance.getNotification(appId, notificationId);\n      System.out.println(result);\n    } catch (ApiException e) {\n      System.err.println(\"Exception when calling DefaultApi#getNotification\");\n      System.err.println(\"Status code: \" + e.getCode());\n      // getErrorMessages() flattens any error-envelope shape to a List<String>;\n      // the raw body remains on getResponseBody().\n      System.err.println(\"Error messages: \" + e.getErrorMessages());\n      System.err.println(\"Reason: \" + e.getResponseBody());\n      System.err.println(\"Response headers: \" + e.getResponseHeaders());\n      e.printStackTrace();\n    }\n  }\n}"
      - lang: csharp
        label: C# SDK
        source: "using System;\nusing System.Collections.Generic;\nusing System.Diagnostics;\nusing OneSignalApi.Api;\nusing OneSignalApi.Client;\nusing OneSignalApi.Model;\n\nnamespace Example\n{\n    public class GetNotificationExample\n    {\n        public static void Main()\n        {\n            Configuration config = new Configuration();\n            config.BasePath = \"https://api.onesignal.com\";\n            // Configure Bearer token for authorization: rest_api_key\n            config.AccessToken = \"YOUR_REST_API_KEY\";\n\n            var apiInstance = new DefaultApi(config);\n            var appId = \"YOUR_APP_ID\";  // string | \n            var notificationId = \"b3a0c8bd-3a4c-4b22-9a73-3f1a8c2d1b88\";  // string | \n\n            try\n            {\n                // View notification\n                NotificationWithMeta result = apiInstance.GetNotification(appId, notificationId);\n                Debug.WriteLine(result);\n            }\n            catch (ApiException  e)\n            {\n                Debug.Print(\"Exception when calling DefaultApi.GetNotification: \" + e.Message );\n                Debug.Print(\"Status Code: \"+ e.ErrorCode);\n                // e.ErrorMessages flattens any error-envelope shape to an IReadOnlyList<string>;\n                // the raw body remains on e.ErrorContent.\n                Debug.Print(\"Error Messages: \" + string.Join(\", \", e.ErrorMessages));\n                Debug.Print(\"Response Body: \" + e.ErrorContent);\n                Debug.Print(e.StackTrace);\n            }\n        }\n    }\n}"
      - lang: rust
        label: Rust SDK
        source: "use onesignal_rust_api::apis::configuration::Configuration;\nuse onesignal_rust_api::apis::default_api;\n\n\n#[tokio::main]\nasync fn main() {\n    let mut configuration = Configuration::new();\n    configuration.rest_api_key_token = Some(\"YOUR_REST_API_KEY\".to_string());\n\n\n    // Realistic values are pulled from the spec's `example:` fields where present.\n    let app_id: &str = \"YOUR_APP_ID\";\n    let notification_id: &str = \"b3a0c8bd-3a4c-4b22-9a73-3f1a8c2d1b88\";\n\n    match default_api::get_notification(&configuration, app_id, notification_id).await {\n        Ok(resp) => println!(\"{:?}\", resp),\n        Err(e @ onesignal_rust_api::apis::Error::ResponseError(_)) => {\n            // `e.error_messages()` flattens any error-envelope shape to a Vec<String>;\n            // the raw response remains on the ResponseError variant.\n            eprintln!(\"get_notification failed: {:?}\", e.error_messages());\n        }\n        Err(e) => eprintln!(\"get_notification failed: {:?}\", e),\n    }\n}"
      parameters:
      - name: message_id
        in: path
        description: The identifier of the message in UUID v4 format. Get this `id` in the response of your Create Message API request, the [View Messages API](/reference/view-messages), and in your OneSignal dashboard Message Reports.
        schema:
          type: string
        required: true
      - name: app_id
        in: query
        description: Your OneSignal App ID in UUID v4 format. See [Keys & IDs](/docs/en/keys-and-ids).
        required: true
        schema:
          type: string
          default: YOUR_APP_ID
      - name: Authorization
        in: header
        description: Your App API key with prefix `Key `. See [Keys & IDs](/docs/en/keys-and-ids).
        required: true
        schema:
          type: string
          default: Key YOUR_APP_API_KEY
      - name: outcome_names
        in: query
        description: 'The name and aggregation type of the outcome(s) you want to fetch. Example: `my_outcome.count` or `my_outcome.sum`. For clicks, use `os__click.count`. For confirmed deliveries, use `os__confirmed_delivery.count`. For session duration, use `os__session_duration.count`.'
        schema:
          type: array
          items:
            type: string
            default:
            - os__click.count
            - os__confirmed_delivery.count
            - os__session_duration.count
      - name: outcome_time_range
        in: query
        description: 'Time range for the returned data. Available values: `1h` (1 hour), `1d` (1 day), `1mo` (1 month)'
        schema:
          type: string
          enum:
          - 1h
          - 1d
          - 1mo
          default: 1h
      - name: outcome_platforms
        in: query
        description: The platforms in which you want to pull the data represented as the `device_type` integer.
        schema:
          type: string
          default: 0,1,2,5,8,11,14,17
      - name: outcome_attribution
        in: query
        description: Attribution type for the outcomes.
        schema:
          type: string
          enum:
          - direct
          - influenced
          - unattributed
          - total
          default: total
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: object
                description: Returns all message properties set. See the [Push notifications](/reference/push-notification), [Email](/reference/email), and/or [SMS](/reference/sms) Message Create APIs for all properties. Most commonly used properties for this endpoint are listed.
                properties:
                  app_id:
                    description: Your OneSignal App ID in UUID v4 format. See [Keys & IDs](/docs/en/keys-and-ids).
                    type: string
                  big_picture:
                    description: The URL of the image set in the push notification.
                    type: string
                  canceled:
                    description: Whether the message was canceled.
                    type: boolean
                  chrome_web_icon:
                    description: The URL of the icon set in the push notification.
                    type: string
                  chrome_web_image:
                    description: The URL of the image set in the push notification.
                    type: string
                  name:
                    description: An internal name you set to help organize and track messages. Not shown to recipients. Maximum 128 characters.
                    type: string
                  contents:
                    description: The main message body with [language-specific values](/docs/en/multi-language-messaging#supported-languages).
                    type: object
                    properties:
                      en:
                        type: string
                        description: The required message language type. See [Supported Languages](/docs/en/multi-language-messaging#supported-languages).
                  converted:
                    type: integer
                    description: The number of times the push was clicked.
                  data:
                    type: object
                    description: The JSON data set in the push notification if applicable.
                  delayed_option:
                    type: string
                    description: The per-user delay option set for the message.
                  delivery_time_of_day:
                    type: string
                    description: The delivery time of day set for the message if `delayed_option` is `timezone`.
                  remaining:
                    type: integer
                    description: The number of messages that have not been sent yet. If `null`, then the system is still processing the audience, try again later.
                  errored:
                    type: integer
                    description: The number of times the message errored.
                  excluded_segments:
                    type: array
                    description: The segments excluded from the message if applicable.
                  failed:
                    type: integer
                    description: The number of subscriptions reported unsubscribed for the message.
                  global_image:
                    type: string
                    description: The URL of the image set in the push notification.
                  headings:
                    type: object
                    description: The title of the push notification.
                  id:
                    type: string
                    description: The identifier of the message in UUID v4 format.
                  included_segments:
                    type: array
                    description: The segments included in the message if applicable.
                  ios_badgeCount:
                    type: integer
                    description: The badge count set for the message if applicable.
                  ios_badgeType:
                    type: string
                    description: The badge type set for the message if applicable.
                  queued_at:
                    type: integer
                    description: Unix timestamp of when the message was created.
                  send_after:
                    type: integer
                    description: Unix timestamp of when the message delivery was scheduled to begin.
                  completed_at:
                    type: integer
                    description: 'Unix timestamp of when the message delivery was completed. The delivery duration from start to finish can be calculated with `completed_at - send_after`. '
                  successful:
                    type: integer
                    description: The number of messages successfully delivered to the push, email, or SMS servers.
                  received:
                    type: integer
                    description: The number of messages that confirmed being received aka [Confirmed Deliveries](/docs/confirmed-delivery).
                  filters:
                    type: object
                    description: The filters set for the message if applicable.
                  template_id:
                    type: string
                    description: The template ID in UUID v4 format set for the message if applicable. See [Templates](/docs/en/templates).
                  url:
                    type: string
                    description: The URL of the push notification.
                  web_url:
                    type: string
                    description: The URL of the push notification for web push subscriptions.
                  app_url:
                    type: string
                    description: The URL of the push notification for mobile subscriptions.
                  platform_delivery_stats:
                    type: object
                    description: The successful, errored, failed, converted, received and frequency cap counts for each platform applicable.
                  throttle_rate_per_minute:
                    type: number
                    description: The throttle rate of the push notification if applicable.
                  fcap_status:
                    type: string
                    description: The frequency cap status of the push notification if applicable.
                  outcomes:
                    type: object
                    description: The id, value, and aggregation type of the outcome set in the request.
        '429':
          description: Rate limit exceeded. Wait the number of seconds in the `Retry-After` header before retrying.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request. Always emitted on 429 responses.
              schema:
                type: integer
                minimum: 0
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicErrorResponse'
              example:
                errors:
                - API rate limit exceeded
        '503':
          description: Service temporarily unavailable. Retry after a short backoff. The body may be empty or non-JSON in some failure modes.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying. Optional — may be absent when the response is generated upstream.
              schema:
                type: integer
                minimum: 0
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicErrorResponse'
              example:
                errors:
                - Service temporarily unavailable
      deprecated: false
      tags:
      - Notifications
      security:
      - {}
    delete:
      summary: Cancel message
      description: Stop a scheduled or currently outgoing message.
      operationId: cancel-message
      x-codeSamples:
      - lang: typescript
        label: Node.js SDK
        source: "import Onesignal from '@onesignal/node-onesignal';\n\nconst configuration = Onesignal.createConfiguration({\n    restApiKey: 'YOUR_REST_API_KEY',\n});\nconst apiInstance = new Onesignal.DefaultApi(configuration);\n\n// string\nconst appId: string = \"YOUR_APP_ID\";\n// string\nconst notificationId: string = \"b3a0c8bd-3a4c-4b22-9a73-3f1a8c2d1b88\";\n\ntry {\n  const response = await apiInstance.cancelNotification(appId, notificationId);\n  console.log(response);\n} catch (e) {\n  if (e instanceof Onesignal.ApiException) {\n    // `e.errorMessages` flattens any error-envelope shape to a `string[]`;\n    // the raw parsed body remains on `e.body`.\n    console.error(\"cancelNotification failed: HTTP \" + e.code, e.errorMessages);\n  } else {\n    throw e;\n  }\n}"
      - lang: python
        label: Python SDK
        source: "import onesignal\nfrom onesignal.api import default_api\nfrom onesignal.models import *\nfrom pprint import pprint\n\n# See configuration.py for a list of all supported configuration parameters.\n# Some of the OneSignal endpoints require ORGANIZATION_API_KEY token for authorization, while others require REST_API_KEY.\n# We recommend adding both of them in the configuration page so that you will not need to figure it out yourself.\nconfiguration = onesignal.Configuration(\n    rest_api_key = \"YOUR_REST_API_KEY\", # App REST API key required for most endpoints\n    organization_api_key = \"YOUR_ORGANIZATION_API_KEY\" # Organization key is only required for creating new apps and other top-level endpoints\n)\n\n\n# Enter a context with an instance of the API client\nwith onesignal.ApiClient(configuration) as api_client:\n    # Create an instance of the API class\n    api_instance = default_api.DefaultApi(api_client)\n    app_id = \"YOUR_APP_ID\" \n    notification_id = \"b3a0c8bd-3a4c-4b22-9a73-3f1a8c2d1b88\" \n\n    try:\n        # Stop a scheduled or currently outgoing notification\n        api_response = api_instance.cancel_notification(app_id, notification_id)\n        pprint(api_response)\n    except onesignal.ApiException as e:\n        print(\"Exception when calling DefaultApi->cancel_notification: %s\\n\" % e)\n        print(\"Status Code: %s\" % e.status)\n        print(\"Response Body: %s\" % e.body)"
      - lang: php
        label: PHP SDK
        source: "<?php\nrequire_once(__DIR__ . '/vendor/autoload.php');\n\n\n// Configure Bearer authorization: rest_api_key\n$config = onesignal\\client\\Configuration::getDefaultConfiguration()\n                                                ->setRestApiKeyToken('YOUR_REST_API_KEY')\n                                                ->setOrganizationApiKeyToken('YOUR_ORGANIZATION_API_KEY');\n\n\n\n$apiInstance = new onesignal\\client\\Api\\DefaultApi(\n    // If you want use custom http client, pass your client which implements `GuzzleHttp\\ClientInterface`.\n    // This is optional, `GuzzleHttp\\Client` will be used as default.\n    new GuzzleHttp\\Client(),\n    $config\n);\n$app_id = 'YOUR_APP_ID'; // string\n$notification_id = 'b3a0c8bd-3a4c-4b22-9a73-3f1a8c2d1b88'; // string\n\ntry {\n    $result = $apiInstance->cancelNotification($app_id, $notification_id);\n    print_r($result);\n} catch (\\onesignal\\client\\ApiException $e) {\n    echo 'Exception when calling DefaultApi->cancelNotification: ', $e->getMessage(), PHP_EOL;\n    echo 'Status Code: ', $e->getCode(), PHP_EOL;\n    // getErrorMessages() flattens any error-envelope shape to a string[];\n    // the raw body remains on getResponseBody().\n    echo 'Error Messages: ', implode(', ', $e->getErrorMessages()), PHP_EOL;\n    echo 'Response Body: ', $e->getResponseBody(), PHP_EOL;\n} catch (\\Exception $e) {\n    echo 'Exception when calling DefaultApi->cancelNotification: ', $e->getMessage(), PHP_EOL;\n}"
      - lang: go
        label: Go SDK
        source: "package main\n\nimport (\n    \"context\"\n    \"fmt\"\n    \"os\"\n\n    \"github.com/OneSignal/onesignal-go-api/v5\"\n)\n\nfunc main() {\n    appId := \"YOUR_APP_ID\" // string | \n    notificationId := \"b3a0c8bd-3a4c-4b22-9a73-3f1a8c2d1b88\" // string | \n\n    configuration := onesignal.NewConfiguration()\n    apiClient := onesignal.NewAPIClient(configuration)\n\n    restAuth := context.WithValue(context.Background(), onesignal.RestApiKey, \"YOUR_REST_API_KEY\") // App REST API key required for most endpoints\n\n    resp, r, err := apiClient.DefaultApi.CancelNotification(restAuth, notificationId).AppId(appId).Execute()\n\n    if err != nil {\n        fmt.Fprintf(os.Stderr, \"Error when calling `DefaultApi.CancelNotification``: %v\\n\", err)\n        fmt.Fprintf(os.Stderr, \"Full HTTP response: %v\\n\", r)\n        if apiErr, ok := err.(*onesignal.GenericOpenAPIError); ok {\n            // ErrorMessages() flattens any error-envelope shape to a []string;\n            // the raw body remains on Body().\n            fmt.Fprintf(os.Stderr, \"Error Messages: %v\\n\", apiErr.ErrorMessages())\n            fmt.Fprintf(os.Stderr, \"Response Body: %s\\n\", apiErr.Body())\n        }\n    }\n    // response from `CancelNotification`: GenericSuccessBoolResponse\n    fmt.Fprintf(os.Stdout, \"Response from `DefaultApi.CancelNotification`: %v\\n\", resp)\n}"
      - lang: ruby
        label: Ruby SDK
        source: "require 'onesignal'\n# setup authorization\nOneSignal.configure do |config|\n  # Configure Bearer authorization: rest_api_key\n  config.rest_api_key = 'YOUR_REST_API_KEY'\n\nend\n\napi_instance = OneSignal::DefaultApi.new\napp_id = 'YOUR_APP_ID' # String | \nnotification_id = 'b3a0c8bd-3a4c-4b22-9a73-3f1a8c2d1b88' # String | \n\nbegin\n  # Stop a scheduled or currently outgoing notification\n  result = api_instance.cancel_notification(app_id, notification_id)\n  p result\nrescue OneSignal::ApiError => e\n  puts \"Error when calling DefaultApi->cancel_notification: #{e}\"\n  puts \"Status Code: #{e.code}\"\n  # `e.error_messages` flattens any error-envelope shape to an Array<String>;\n  # the raw body remains on `e.response_body`.\n  puts \"Error Messages: #{e.error_messages}\"\n  puts \"Response Body: #{e.response_body}\"\nend"
      - lang: java
        label: Java SDK
        source: "// Import classes:\nimport com.onesignal.client.ApiClient;\nimport com.onesignal.client.ApiException;\nimport com.onesignal.client.Configuration;\nimport com.onesignal.client.auth.*;\nimport com.onesignal.client.model.*;\nimport com.onesignal.client.api.DefaultApi;\n\npublic class Example {\n  public static void main(String[] args) {\n    ApiClient defaultClient = Configuration.getDefaultApiClient();\n    defaultClient.setBasePath(\"https://api.onesignal.com\");\n    \n    // Configure HTTP bearer authorization: rest_api_key\n    HttpBearerAuth rest_api_key = (HttpBearerAuth) defaultClient.getAuthentication(\"rest_api_key\");\n    rest_api_key.setBearerToken(\"YOUR_REST_API_KEY\");\n\n    DefaultApi apiInstance = new DefaultApi(defaultClient);\n    String appId = \"YOUR_APP_ID\"; // String | \n    String notificationId = \"b3a0c8bd-3a4c-4b22-9a73-3f1a8c2d1b88\"; // String | \n    try {\n      GenericSuccessBoolResponse result = apiInstance.cancelNotification(appId, notificationId);\n      System.out.println(result);\n    } catch (ApiException e) {\n      System.err.println(\"Exception when calling DefaultApi#cancelNotification\");\n      System.err.println(\"Status code: \" + e.getCode());\n      // getErrorMessages() flattens any error-envelope shape to a List<String>;\n      // the raw body remains on getResponseBody().\n      System.err.println(\"Error messages: \" + e.getErrorMessages());\n      System.err.println(\"Reason: \" + e.getResponseBody());\n      System.err.println(\"Response headers: \" + e.getResponseHeaders());\n      e.printStackTrace();\n    }\n  }\n}"
      - lang: csharp
        label: C# SDK
        source: "using System;\nusing System.Collections.Generic;\nusing System.Diagnostics;\nusing OneSignalApi.Api;\nusing OneSignalApi.Client;\nusing OneSignalApi.Model;\n\nnamespace Example\n{\n    public class CancelNotificationExample\n    {\n        public static void Main()\n        {\n            Configuration config = new Configuration();\n            config.BasePath = \"https://api.onesignal.com\";\n            // Configure Bearer token for authorization: rest_api_key\n            config.AccessToken = \"YOUR_REST_API_KEY\";\n\n            var apiInstance = new DefaultApi(config);\n            var appId = \"YOUR_APP_ID\";  // string | \n            var notificationId = \"b3a0c8bd-3a4c-4b22-9a73-3f1a8c2d1b88\";  // string | \n\n            try\n            {\n                // Stop a scheduled or currently outgoing notification\n                GenericSuccessBoolResponse result = apiInstance.CancelNotification(appId, notificationId);\n                Debug.WriteLine(result);\n            }\n            catch (ApiException  e)\n            {\n                Debug.Print(\"Exception when calling DefaultApi.CancelNotification: \" + e.Message );\n                Debug.Print(\"Status Code: \"+ e.ErrorCode);\n                // e.ErrorMessages flattens any error-envelope shape to an IReadOnlyList<string>;\n                // the raw body remains on e.ErrorContent.\n                Debug.Print(\"Error Messages: \" + string.Join(\", \", e.ErrorMessages));\n                Debug.Print(\"Response Body: \" + e.ErrorContent);\n                Debug.Print(e.StackTrace);\n            }\n        }\n    }\n}"
      - lang: rust
        label: Rust SDK
        source: "use onesignal_rust_api::apis::configuration::Configuration;\nuse onesignal_rust_api::apis::default_api;\n\n\n#[tokio::main]\nasync fn main() {\n    let mut configuration = Configuration::new();\n    configuration.rest_api_key_token = Some(\"YOUR_REST_API_KEY\".to_string());\n\n\n    // Realistic values are pulled from the spec's `example:` fields where present.\n    let app_id: &str = \"YOUR_APP_ID\";\n    let notification_id: &str = \"b3a0c8bd-3a4c-4b22-9a73-3f1a8c2d1b88\";\n\n    match default_api::cancel_notification(&configuration, app_id, notification_id).await {\n        Ok(resp) => println!(\"{:?}\", resp),\n        Err(e @ onesignal_rust_api::apis::Error::ResponseError(_)) => {\n            // `e.error_messages()` flattens any error-envelope shape to a Vec<String>;\n            // the raw response remains on the ResponseError variant.\n            eprintln!(\"cancel_notification failed: {:?}\", e.error_messages());\n        }\n        Err(e) => eprintln!(\"cancel_notification failed: {:?}\", e),\n    }\n}"
      parameters:
      - name: message_id
        in: path
        description: The identifier of the message in UUID v4 format. Get this `id` in the response of your Create Message API request, the [View Messages API](/reference/view-messages), and in your OneSignal dashboard Message Reports.
        schema:
          type: string
        required: true
      - name: app_id
        in: path
        description: Your OneSignal App ID in UUID v4 format. See [Keys & IDs](/docs/en/keys-and-ids).
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Your App API key with prefix `Key `. See [Keys & IDs](/docs/en/keys-and-ids).
        required: true
        schema:
          type: string
          default: Key YOUR_APP_API_KEY
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Indicates if the message was successfully canceled.
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicErrorResponse'
              example:
                errors:
                - Reason for the message not being canceled. Usually due to the message already being sent to all recipients.
        '404':
          description: The notification was not found, or it is older than the retention window and its audience activity has been purged.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicErrorResponse'
              example:
                errors:
                - Notification not found
        '429':
          description: Rate limit exceeded. Wait the number of seconds in the `Retry-After` header before retrying.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request. Always emitted on 429 responses.
              schema:
                type: integer
                minimum: 0
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicErrorResponse'
              example:
                errors:
                - API rate limit exceeded
        '503':
          description: Service temporarily unavailable. Retry after a short backoff. The body may be empty or non-JSON in some failure modes.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying. Optional — may be absent when the response is generated upstream.
              schema:
                type: integer
                minimum: 0
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicErrorResponse'
              example:
                errors:
                - Service temporarily unavailable
      deprecated: false
      tags:
      - Notifications
      security:
      - {}
    servers:
    - url: https://api.onesignal.com
  /notifications:
    get:
      description: View the details of multiple notifications
      operationId: get_notifications
      parameters:
      - description: The app ID that you want to view notifications from
        explode: true
        in: query
        name: app_id
        required: true
        schema:
          type: string
        style: form
      - description: How many notifications to return.  Max is 50.  Default is 50.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Page offset.  Default is 0.  Results are sorted by queued_at in descending order.  queued_at is a representation of the time that the notification was queued at.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: "Kind of notifications returned:\n  * unset - All notification types (default)\n  * `0` - Dashboard only\n  * `1` - API only\n  * `3` - Automated only\n"
        explode: true
        in: query
        name: kind
        required: false
        schema:
          enum:
          - 0
          - 1
          - 3
          type: integer
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationSlice'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: Bad Request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
          description: Rate Limit Exceeded
      security:
      - rest_api_key: []
      summary: View notifications
      tags:
      - Notifications
    post:
      description: 'Sends notifications to your users.


        **Target by External ID (push example):** set `include_aliases` to `{ "external_id": ["your-user-id"] }` and set `target_channel` to `push` (or `email` / `sms` for those channels). Alias object keys must match API labels exactly (for example `external_id`, not camelCase).


        **Do not confuse** the notification-level `external_id` field with External ID targeting: top-level `external_id` / `idempotency_key` are for idempotent notification requests only, not for selecting recipients.


        **Targeting compatibility:** `include_aliases` must not be combined with other targeting modes (segments, filters, subscription IDs, legacy player IDs, etc.). Clients should send only one targeting strategy per request.'
      operationId: create_notification
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Notification'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateNotificationSuccessResponse'
          description: 'OK, invalid_aliases, or No Subscribed Players

            If a message was successfully created, you will get a 200 response with a non-empty `id` for the notification.

            If the 200 response contains `invalid_aliases`, that marks devices that exist in the provided app_id but are no longer subscribed.

            If `id` is an empty string, no notification was created: check the `errors` array (for example messages such as "All included players are not subscribed") even though HTTP status is still 200. This can happen when alias keys are wrong, External IDs do not resolve to subscribed users, or other validation issues.

            If no id is returned, then a message was not created and the targeted User IDs do not exist under the provided app_id.

            Any User IDs sent in the request that do not exist under the specified app_id will be ignored.

            '
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: Bad Request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
          description: Rate Limit Exceeded
      security:
      - rest_api_key: []
      summary: Create notification
      x-onesignal-flat-notification-example: true
      tags:
      - Notifications
    servers:
    - url: https://api.onesignal.com
  /notifications/{notification_id}:
    delete:
      description: Used to stop a scheduled or currently outgoing notification
      operationId: cancel_notification
      parameters:
      - explode: true
        in: query
        name: app_id
        required: true
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: notification_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericSuccessBoolResponse'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: Bad Request
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: Not Found
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
          description: Rate Limit Exceeded
      security:
      - rest_api_key: []
      summary: Stop a scheduled or currently outgoing notification
      tags:
      - Notifications
    get:
      description: View the details of a single notification and outcomes associated with it
      operationId: get_notification
      parameters:
      - explode: true
        in: query
        name: app_id
        required: true
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: notification_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationWithMeta'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: Bad Request
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: Not Found
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
          description: Rate Limit Exceeded
      security:
      - rest_api_key: []
      summary: View notification
      tags:
      - Notifications
    servers:
    - url: https://api.onesignal.com
  /notifications/{notification_id}/history:
    post:
      description: -> View the devices sent a message - OneSignal Paid Plan Required This method will return all devices that were sent the given notification_id of an Email or Push Notification if used within 7 days of the date sent. After 7 days of the sending date, the message history data will be unavailable. After a successful response is received, the destination url may be polled until the file becomes available. Most exports are done in ~1-3 minutes, so setting a poll interval of 10 seconds should be adequate. For use cases that are not meant to be consumed by a script, an email will be sent to the supplied email address. 🚧 Requirements A OneSignal Paid Plan. Turn on Send History via OneSignal API in Settings -> Analytics. Cannot get data before this was turned on. Must be called within 7 days after sending the message. Messages targeting under 1000 recipients will not have "sent" events recorded, but will show "clicked" events. Requires your OneSignal App's REST API Key, available in Keys & IDs.
      operationId: get_notification_history
      parameters:
      - description: The "id" of the message found in the Notification object
        explode: false
        in: path
        name: notification_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/get_notification_history_request_body'
        content:
          application/json:
            schema:
              properties:
                events:
                  description: -> "sent" - All the devices by player_id that were sent the specified notification_id.  Notifications targeting under 1000 recipients will not have "sent" events recorded, but will show "clicked" events. "clicked" - All the devices by `player_id` that clicked the specified notification_id.
                  enum:
                  - sent
                  - clicked
                  type: string
                email:
                  description: The email address you would like the report sent.
                  type: string
                app_id:
                  type: string
              required:
              - id
              title: get_notification_history_request_body
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationHistorySuccessResponse'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: Bad Request
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: Not Found
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
          description: Rate Limit Exceeded
      security:
      - rest_api_key: []
      summary: Notification History
      tags:
      - Notifications
    servers:
    - url: https://api.onesignal.com
  /notifications/{notification_id}/export_events?app_id={app_id}:
    post:
      description: 'Generate a compressed CSV report of all of the events data for a notification.

        This will return a URL immediately upon success but it may take several minutes for the CSV to become available at that URL depending on the volume of data. Only one export can be in-progress per OneSignal account at any given time.'
      operationId: export_events
      parameters:
      - description: The ID of the notification to export events from.
        explode: false
        in: path
        name: notification_id
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the app that the notification belongs to.
        explode: true
        in: query
        name: app_id
        required: true
        schema:
          type: string
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportEventsSuccessResponse'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: Bad Request
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: Not Found
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
          description: Rate Limit Exceeded
      security:
      - rest_api_key: []
      summary: Export CSV of Events
      tags:
      - Notifications
    servers:
    - url: https://api.onesignal.com
components:
  schemas:
    BasicErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: string
          description: One or more human-readable error messages.
        success:
          type: boolean
          description: Present (and `false`) on some endpoints (notifications, templates, segments). Not emitted by every endpoint.
        reference:
          type: array
          items:
            type: string
          description: Documentation URL fragments related to the error. Only emitted by the API-key auth error helpers.
    NotificationHistorySuccessResponse:
      example:
        success: true
        destination_url: destination_url
      properties:
        success:
          type: boolean
        destination_url:
          type: string
      type: object
    LanguageStringMap:
      example:
        de: de
        hi: hi
        fi: fi
        ru: ru
        pt: pt
        bg: bg
        lt: lt
        hr: hr
        lv: lv
        fr: fr
        hu: hu
        bs: bs
        zh-Hans: zh-Hans
        zh-Hant: zh-Hant
        ka: ka
        uk: uk
        sk: sk
        id: id
        ca: ca
        sr: sr
        sv: sv
        ko: ko
        ms: ms
        el: el
        en: en
        it: it
        zh: zh
        es: es
        et: et
        cs: cs
        ar: ar
        pa: pa
        vi: vi
        nb: nb
        th: th
        ja: ja
        fa: fa
        pl: pl
        da: da
        he: he
        ro: ro
        nl: nl
        tr: tr
      properties:
        en:
          description: Text in English.  Will be used as a fallback
          type: string
        ar:
          description: Text in Arabic.
          type: string
        bs:
          description: Text in Bosnian.
          type: string
        bg:
          description: Text in Bulgarian.
          type: string
        ca:
          description: Text in Catalan.
          type: string
        zh-Hans:
          description: Text in Chinese (Simplified).
          type: string
        zh-Hant:
          description: Text in Chinese (Traditional).
          type: string
        zh:
          description: Alias for zh-Hans.
          type: string
        hr:
          description: Text in Croatian.
          type: string
        cs:
          description: Text in Czech.
          type: string
        da:
          description: Text in Danish.
          type: string
        nl:
          description: Text in Dutch.
          type: string
        et:
          description: Text in Estonian.
          type: string
        fi:
          description: Text in Finnish.
          type: string
        fr:
          description: Text in French.
          type: string
        ka:
          description: Text in Georgian.
          type: string
        de:
          description: Text in German.
          type: string
        el:
          description: Text in Greek.
          type: string
        hi:
          description: Text in Hindi.
          type: string
        he:
          description: Text in Hebrew.
          type: string
        hu:
          description: Text in Hungarian.
          type: string
        id:
          description: Text in Indonesian.
          type: string
        it:
          description: Text in Italian.
          type: string
        ja:
          description: Text in Japanese.
          type: string
        ko:
          description: Text in Korean.
          type: string
        lv:
          description: Text in Latvian.
          type: string
        lt:
          description: Text in Lithuanian.
          type: string
        ms:
          description: Text in Malay.
          type: string
        nb:
          description: Text in Norwegian.
          type: string
        pl:
          description: Text in Polish.
          type: string
        fa:
          description: Text in Persian.
          type: string
        pt:
          description: Text in Portugese.
          type: string
        pa:
          description: Text in Punjabi.
          type: string
        ro:
          description: Text in Romanian.
          type: string
        ru:
          description: Text in Russian.
          type: string
        sr:
          description: Text in Serbian.
          type: string
        sk:
          description: Text in Slovak.
          type: string
        es:
          description: Text in Spanish.
          type: string
        sv:
          description: Text in Swedish.
          type: string
        th:
          description: Text in Thai.
          type: string
        tr:
          description: Text in Turkish.
          type: string
        uk:
          description: Text in Ukrainian.
          type: string
        vi:
          description: Text in Vietnamese.
          type: string
      type: object
    SubscriptionNotificationTarget:
      properties:
        include_subscription_ids:
          description: 'Specific subscription ids to send your notification to. _Does not require API Auth Key._

            Not compatible with any other targeting parameters.

            Example: ["1dd608f2-c6a1-11e3-851d-000c2940e62c"]

            Limit of 2,000 entries per REST API call

            '
          items:
            type: string
          type:
          - array
          - 'null'
        include_email_tokens:
          description: 'Recommended for Sending Emails - Target specific email addresses.

            If an email does not correspond to an existing user, a new user will be created.

            Example: nick@catfac.ts

            Limit of 2,000 entries per REST API call

            '
          items:
            type: string
          type: array
        include_phone_numbers:
          description: 'Recommended for Sending SMS - Target specific phone numbers. The phone number should be in the E.164 format. Phone number should be an existing subscriber on OneSignal. Refer our docs to learn how to add phone numbers to OneSignal.

            Example phone number: +1999999999

            Limit of 2,000 entries per REST API call

            '
          items:
            type: string
          type: array
        include_ios_tokens:
          description: 'Not Recommended: Please consider using include_subscription_ids or include_aliases instead.

            Target using iOS device tokens.

            Warning: Only works with Production tokens.

            All non-alphanumeric characters must be removed from each token. If a token does not correspond to an existing user, a new user will be created.

            Example: ce777617da7f548fe7a9ab6febb56cf39fba6d38203...

            Limit of 2,000 entries per REST API call

            '
          items:
            type: string
          type: array
        include_wp_wns_uris:
          description: 'Not Recommended: Please consider using include_subscription_ids or include_aliases instead.

            Target using Windows URIs. If a token does not correspond to an existing user, a new user will be created.

            Example: http://s.notify.live.net/u/1/bn1/HmQAAACPaLDr-...

            Limit of 2,000 entries per REST API call

            '
          items:
            type: string
          type: array
        include_amazon_reg_ids:
          description: 'Not Recommended: Please consider using include_subscription_ids or include_aliases instead.

            Target using Amazon ADM registration IDs. If a token does not correspond to an existing user, a new user will be created.

            Example: amzn1.adm-registration.v1.XpvSSUk0Rc3hTVVV...

            Limit of 2,000 entries per REST API call

            '
          items:
            type: string
          type: array
        include_chrome_reg_ids:
          description: 'Not Recommended: Please consider using include_subscription_ids or include_aliases instead.

            Target using Chrome App registration IDs. If a token does not correspond to an existing user, a new user will be created.

            Example: APA91bEeiUeSukAAUdnw3O2RB45FWlSpgJ7Ji_...

            Limit of 2,000 entries per REST API call

            '
          items:
            type: string
          type: array
        include_chrome_web_reg_ids:
          description: 'Not Recommended: Please consider using include_subscription_ids or include_aliases instead.

            Target using Chrome Web Push registration IDs. If a token does not correspond to an existing user, a new user will be created.

            Example: APA91bEeiUeSukAAUdnw3O2RB45FWlSpgJ7Ji_...

            Limit of 2,000 entries per REST API call

            '
          items:
            type: string
          type: array
        include_android_reg_ids:
          description: 'Not Recommended: Please consider using include_subscription_ids or include_aliases instead.

            Target using Android device registration IDs. If a token does not correspond to an existing user, a new user will be created.

            Example: APA91bEeiUeSukAAUdnw3O2RB45FWlSpgJ7Ji_...

            Limit of 2,000 entries per REST API call

            '
          items:
            type: string
          type: array
        include_aliases:
          additionalProperties:
            items:
              type: string
            type: array
          description: 'Target specific users by aliases assigned via API. An alias can be an external_id, onesignal_id, or a custom alias.

            Accepts an object where keys are alias labels and values are arrays of alias IDs to include

            Example usage: { "external_id": ["exId1", "extId2"], "internal_label": ["id1", "id2"] }

            Keys must match API spellings exactly (for example the label for External ID is the string `external_id`; arbitrary keys such as camelCase variants are not aliases and may yield no recipients).

            Not compatible with any other targeting parameters.

            REQUIRED: REST API Key Authentication

            Limit of 2,000 entries per REST API call

            Note: If targeting push, email, or sms subscribers with same ids, use with target_channel to indicate you are sending a push or email or sms.'
          type:
          - object
          - 'null'
        target_channel:
          enum:
          - push
          - email
          - sms
          type: string
      type: object
    PlatformDeliveryData_sms_allOf:
      properties:
        provider_successful:
          description: Number of messages reported as delivered successfully by the SMS service provider.
          type:
          - integer
          - 'null'
        provider_failed:
          description: Number of recipients who didn't receive your message as reported by the SMS service provider.
          type:
          - integer
          - 'null'
        provider_errored:
          description: Number of errors reported by the SMS service provider.
          type:
          - integer
          - 'null'
    BasicNotification_allOf_android_background_layout:
      description: 'Channel: Push Notifications

        Platform: Android

        Allowing setting a background image for the notification. This is a JSON object containing the following keys. See our Background Image documentation for image sizes.

        '
      properties:
        image:
          description: Asset file, android resource name, or URL to remote image.
          type: string
        headings_color:
          description: Title text color ARGB Hex format. Example(Blue) "FF0000FF".
          type: string
        contents_color:
          description: Body text color ARGB Hex format. Example(Red) "FFFF0000".
          type: string
      type: object
      writeOnly: true
    PlatformDeliveryData:
      description: Hash of delivery statistics broken out by target device platform.
      properties:
        edge_web_push:
          $ref: '#/components/schemas/DeliveryData'
        chrome_web_push:
          $ref: '#/components/schemas/DeliveryData'
        firefox_web_push:
          $ref: '#/components/schemas/DeliveryData'
        safari_web_push:
          $ref: '#/components/schemas/DeliveryData'
        android:
          $ref: '#/components/schemas/DeliveryData'
        ios:
          $ref: '#/components/schemas/DeliveryData'
        sms:
          allOf:
          - $ref: '#/components/schemas/DeliveryData'
          - $ref: '#/components/schemas/PlatformDeliveryData_sms_allOf'
        email:
          allOf:
          - $ref: '#/components/schemas/DeliveryData'
          - $ref: '#/components/schemas/PlatformDeliveryData_email_allOf'
      type: object
    OutcomesData:
      example:
        outcomes:
        - aggregation: sum
          id: id
          value: 0
        - aggregation: sum
          id: id
          value: 0
      properties:
        outcomes:
          items:
            $ref: '#/components/schemas/OutcomeData'
          type: array
      type: object
    ExportEventsSuccessResponse:
      example:
        csv_file_url: csv_file_url
      properties:
        csv_file_url:
          type: string
      type: object
    NotificationTarget:
      anyOf:
      - $ref: '#/components/schemas/SegmentNotificationTarget'
      - $ref: '#/components/schemas/SubscriptionNotificationTarget'
    OutcomeData:
      example:
        aggregation: sum
        id: id
        value: 0
      properties:
        id:
          type: string
        value:
          type: integer
        aggregation:
          enum:
          - sum
          - count
          type: string
      required:
      - aggregation
      - id
      - value
      type: object
    Notification:
      allOf:
      - $ref: '#/components/schemas/BasicNotification'
      - $ref: '#/components/schemas/Notification_allOf'
    WebButton:
      properties:
        id:
          type: string
        text:
          type: string
        icon:
          type: string
        url:
          type: string
      required:
      - id
      type: object
    DeliveryData:
      properties:
        successful:
          description: Number of messages delivered to push servers, mobile carriers, or email service providers.
          type:
          - integer
          - 'null'
        failed:
          description: Number of messages sent to unsubscribed devices.
          type:
          - integer
          - 'null'
        errored:
          description: Number of errors reported.
          type:
          - integer
          - 'null'
        converted:
          description: Number of messages that were clicked.
          type:
          - integer
          - 'null'
        received:
          description: Number of devices that received the message.
          type:
          - integer
          - 'null'
      type: object
    NotificationWithMeta:
      allOf:
      - $ref: '#/components/schemas/BasicNotification'
      - $ref: '#/components/schemas/DeliveryData'
      - $ref: '#/components/schemas/OutcomesData'
      - $ref: '#/components/schemas/NotificationWithMeta_allOf'
    NotificationWithMeta_allOf:
      properties:
        remaining:
          description: Number of notifications that have not been sent out yet. This can mean either our system is still processing the notification or you have delayed options set.
          type: integer
        successful:
          description: Number of notifications that were successfully delivered.
          type: integer
        failed:
          description: Number of notifications that could not be delivered due to those devices being unsubscribed.
          type: integer
        errored:
          description: Number of notifications that could not be delivered due to an error. You can find more information by viewing the notification in the dashboard.
          type: integer
        converted:
          description: Number of users who have clicked / tapped on your notification.
          type: integer
        queued_at:
          description: Unix timestamp indicating when the notification was created.
          format: int64
          type: integer
        send_after:
          description: Unix timestamp indicating when notification delivery should begin.
          format: int64
          type:
          - integer
          - 'null'
        completed_at:
          description: Unix timestamp indicating when notification delivery completed. The delivery duration from start to finish can be calculated with completed_at - send_after.
          format: int64
          type:
          - integer
          - 'null'
        platform_delivery_stats:
          $ref: '#/components/schemas/PlatformDeliveryData'
        received:
          description: Confirmed Deliveries number of devices that received the push notification. Paid Feature Only. Free accounts will see 0.
          type:
          - integer
          - 'null'
        throttle_rate_per_minute:
          description: number of push notifications sent per minute. Paid Feature Only. If throttling is not enabled for the app or the notification, and for free accounts, null is returned. Refer to Throttling for more details.
          type:
          - integer
          - 'null'
        canceled:
          description: Indicates whether the notification was canceled before it could be sent.
          type: boolean
        email_bcc:
          description: BCC recipients that were set on this email notification.
          items:
            type: string
          type:
          - array
          - 'null'
        bcc_sent:
          description: Number of BCC copies successfully sent for this notification.
          type:
          - integer
          - 'null'
      type: object
    FilterExpression:
      oneOf:
      - $ref: '#/components/schemas/Filter'
      - $ref: '#/components/schemas/Operator'
    BasicNotification:
      allOf:
      - $ref: '#/components/schemas/NotificationTarget'
      - $ref: '#/components/schemas/BasicNotification_allOf'
      - required:
        - app_id
    CreateNotificationSuccessResponse:
      example:
        external_id: external_id
        id: id
        errors: ''
      properties:
        id:
          description: Notification identifier when the request created a notification. An empty string means no notification was created; read `errors` for details (HTTP may still be 200).
          type: string
        external_id:
          description: Optional correlation / idempotency-related value from the API response. This is not the end-user External ID used for targeting recipients (that lives under `include_aliases.external_id`).
          type:
          - string
          - 'null'
        errors:
          description: 'Polymorphic field: may be an array of human-readable strings and/or an object (for example with `invalid_aliases`, `invalid_external_user_ids`, or `invalid_player_ids`) depending on the API response; HTTP may still be 200 with partial success. Typed SDKs model this loosely so both shapes deserialize.'
      type: object
    Notification_allOf:
      properties:
        send_after:
          description: 'Channel: All

            Schedule notification for future delivery. API defaults to UTC -1100

            Examples: All examples are the exact same date & time.

            "Thu Sep 24 2015 14:00:00 GMT-0700 (PDT)"

            "September 24th 2015, 2:00:00 pm UTC-07:00"

            "2015-09-24 14:00:00 GMT-0700"

            "Sept 24 2015 14:00:00 GMT-0700"

            "Thu Sep 24 2015 14:00:00 GMT-0700 (Pacific Daylight Time)"

            Note: SMS currently only supports send_after parameter.

            '
          format: date-time
          type:
          - string
          - 'null'
          writeOnly: true
      type: object
    BasicNotification_allOf:
      properties:
        id:
          type: string
        value:
          readOnly: true
          type: integer
        name:
          description: 'Required for SMS Messages.

            An identifier for tracking message within the OneSignal dashboard or export analytics.

            Not shown to end user.'
          type:
          - string
          - 'null'
          writeOnly: true
        aggregation:
          enum:
          - sum
          - count
          readOnly: true
          type: string
        isIos:
          description: Indicates whether to send to all devices registered under your app's Apple iOS platform.
          type:
          - boolean
          - 'null'
          writeOnly: true
        isAndroid:
[...]
